@media screen and (min-width:320px) and (max-width:767px) {
    .opinion{
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 30.24px;
        text-align: center;
        color: var(--font-subtext-main);
        --end-color:transparent;
        background-image: repeating-linear-gradient(
        to top,
        var(--customer-quote-color),
        var(--customer-quote-color) 1px,
        var(--end-color) 1px,
        var(--end-color) 30.24px);
        &__card{
            width: 100%;
            height: auto;
            background-color: var(--customer-background-color);
            padding:43px 66px 26px 57px;
            display: block;
            margin-left:20px;
            margin-right:20px;
        }
    }

    .opinion::before{
        content: "";
        width: 54px;
        height: 40px;
        display: inline-block;
    }
    
    .opinion::before {
        background-image: url("images/cytat.png");
        background-color:blue;
    }

    .ellipse{
        list-style: none;
        justify-content: center;
    }

    .author{
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        text-align: center;
        color: var(--font-subtext-main);
    }

    .mySlides {
        display: block;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right:auto;
    }
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 100%;
      position: relative;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: var(--font-color-main);
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 12px;
      width: 12px;
      background-color: #D9D9D9;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      margin-bottom:172px;
    }

    .dot:not(:last-child) {
        margin-right:18px;
    }

    .active{
        background-color: var(--btn-color);
    }
    
    .dot:hover {
      background-color: var(--btn-color);
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .opinion{
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 216%;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--font-subtext-main);
        --end-color:transparent;
        background-image: repeating-linear-gradient(
        to top,
        var(--customer-quote-color),
        var(--customer-quote-color) 1px,
        var(--end-color) 1px,
        var(--end-color) 30.24px);
        margin:0;
        &__card{
            width: 100%;
            height: 164px;
            background-color: var(--customer-background-color);
            padding:47px 80px 34px 60px;
            margin-left:74px;
            margin-right:74px;
            margin-bottom:24px; 
        }
    }

    .ellipse{
        list-style: none;
        display:flex;
        justify-content: center;
        padding:0;
        margin-top:0;
        margin-bottom:14px;
        &__item{
            &:not(:last-child){
                margin-right: 10px;
            }
        }
    }

    .author{
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        text-align: center;
        color: var(--font-subtext-main);
        margin-bottom:35px;
    }

    .mySlides {
        display: block;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right:auto;
    }
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 100%;
      position: relative;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: var(--font-color-main);
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 12px;
      width: 12px;
      background-color: #D9D9D9;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      margin-bottom:172px;
    }

    .dot:not(:last-child) {
        margin-right:18px;
    }

    .active{
      background-color: var(--btn-color);
    }
    
    .dot:hover {
      background-color: var(--btn-color);
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
}

@media screen and (min-width:1200px) {
    .customer-section{
        padding-left:115px;
        padding-right:115px;
    }

    .opinion__card{
        width:100%;
        height: 138px;
        background-color: var(--customer-background-color);
        padding:47px 80px 34px 60px;
        margin-bottom:24px; 
        
    }

    .opinion{
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 216%;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--font-subtext-main);
        --end-color:transparent;
        background-image: repeating-linear-gradient(
        to top,
        var(--customer-quote-color),
        var(--customer-quote-color) 1px,
        var(--end-color) 1px,
        var(--end-color) 30.24px);
        
    }

    .ellipse{
        list-style: none;
        display:flex;
        justify-content: center;
        padding:0;
        margin-top:0;
        margin-bottom:14px;
        &__item{
            &:not(:last-child){
                margin-right: 10px;
            }
        }
    }

    .author{
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        text-align: center;
        color: var(--font-subtext-main);
        margin-bottom:35px;
    }

    .mySlides {
        display: block;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right:auto;
    }
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 100%;
      position: relative;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: var(--font-color-main);
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 12px;
      width: 12px;
      background-color: #D9D9D9;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      margin-bottom:234px;
    }

    .dot:not(:last-child) {
        margin-right:18px;
    }

    .active{
      background-color: var(--btn-color);
    }
    
    .dot:hover {
      background-color: var(--btn-color);
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
}