:root {

/*COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS*/
--font-color-main: #FFFFFF;
--font-color-secondary: #D41443;
--font-header: #FFA5BA;
--font-subtext-main: #000000;
--font-subtext-secondary: #907E82;

--header-background-color: #FFB8CA;
--background-color: #FFF5F6;
--header-background-menu: #E17992;

--product2-color: #F0D1A5;
--product3-color: #C2E297;

--customer-quote-color: #E1E1E1;
--customer-background-color: #FAFAFA;

--btn-color: #D41342;
--btn-color-secondary: #FFFFFF;
--btn-media: #FFA5BA;
--btn-media-hover: #D41443;

    
/* FONTS * * FONTS * * FONTS * * FONTS * * FONTS * * FONTS *  * FONTS * * FONTS * * FONTS * * FONTS * * FONTS * * FONTS */
--header-font: 'Titan One';
--body-font: 'DM Sans';
}

